.root {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: fixed;
    width: 100%;
    z-index: 999;
}

.center {
    margin: auto;
}

.left {
    padding: 0 10px;
}

.right {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
    align-items: center;
}

.link {
    width: 30px;
    height: 30px;
}

.name {
    padding-right: 10px;
    color: #000000;
}

.name_inverted {
    padding-right: 10px;
    color: #ffffff;
}

.name:hover, .name_inverted:hover {
    cursor: pointer;
    color: #f41224;
}