.root {
    width: 30%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.root_link {
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.root_link:focus,
.root_link:active {
  text-decoration: none;
}

.root_link:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}