.root {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
}

.menu_item {
    text-decoration: none;
    margin: 0 20px;
    color: #000000;
}

.menu_item_inverted {
    text-decoration: none;
    margin: 0 20px;
    color: #ffffff;
}

.menu_item:hover, .menu_item_inverted:hover {
    color: #f41224;
}
