.root {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    padding: 0 10px;
}

.right {
    padding: 0 10px;
    align-items: center;
    display: flex;
    width: fit-content;
}

.link {
    width: 30px;
    height: 30px;
}

.name {
    padding-right: 10px;
}

.name:hover {
    cursor: pointer;
}