.cover {
    background-image: url("./temp_images_for_dev/bg_kultura_i_tsennos.svg"); /* TODO: replace by address coming from props! */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 500px;
}

.title {
    display: block;
    font-size: 1.75rem;
    text-align: center;
    margin-top: 4rem;
}

.bottom_border {
    border-bottom: solid 1px #333;
    margin-bottom: 1rem;
}